<article class="px-3">
  <h2 class="content-title">Publications</h2>
  <div>
    <ul>
      <li>
        Lefèvre T, Chariot P, Chauvin P. Multivariate methods for the analysis
        of complex and big data in forensic sciences. Application to age
        estimation in living persons. Forensic Sci Int 2016, sous presse. Doi :
        10.1016/j.forsciint.2016.05.014
      </li>
      <li>
        Lefèvre T, Lepresle A, Chariot P. Detangling complex relationships in
        forensic data: principles and use of causal networks and their
        application to clinical forensic science. Int J Leg Med 2015;129:1163-72
      </li>
      <li>
        Riou J, Lefèvre T, Parizot I, Lhuissier A, Chauvin P. Is there still a
        French eating model? A taxonomy of eating behaviors in adults living in
        the Paris metropolitan area in 2010. PLoS One 2015;10:e0119161
      </li>
      <li>
        Lefèvre T, Chauvin P. A general framework for a reliable multivariate
        analysis and pattern recognition in high-dimensional epidemiological
        data, based on cluster robustness: a tutorial to enrich the
        epidemiologists’ toolkit. Rev Epidemiol Sante Publique 2015;63:9-19
      </li>
      <li>
        Lefèvre T, Rondet C, Parizot I, Chauvin P. Applying multivariate
        clustering techniques to health data: the 4 types of healthcare
        utilization in the Paris metropolitan area. PLoS One 2014;9:e0115064
      </li>
      <li>
        Lefèvre T, Stindel E, Ansart S, Roux C. Mathematics in medicine: beyond
        iatromathematics. Lancet. 2014;383:583
      </li>
      <li>
        Lefèvre T, Lepresle A, Chariot P. An alternative to current psychiatric
        classifications: a psychological landscape hypothesis based on an
        integrative, dynamical and multidimensional approach. Philos Ethics
        Humanit Med 2014;9:12
      </li>
      <li>
        Lefèvre T. Inégalités sociales de santé et apports du big data :
        opportunités et points d’attention. Actes du séminaire de la DREES sur
        la recherche interventionnelle pour la réduction des inégalités sociales
        de santé (sous presse).
      </li>
      <li>
        Dang C, Phuong T, Beddag M, Vega A, Denis C. A data model for clinical
        legal medicine practice and the development of a dedicated software for
        both practitioners and researchers. J Forensic Legal Med, Special Issue:
        big data in medicine and forensic science 2016 (prévu), en révision.
      </li>
      <li>
        Laugier V, Stindel E, Ansart S, Lichterowicz A, Lefèvre T. Making the
        best of data derived from a daily practice in clinical legal medicine
        for research and practice – the example of Spotrisc. J Forensic Legal
        Med, Special Issue: big data in medicine and forensic science 2016
        (prévu), en révision.
      </li>
    </ul>
  </div>
</article>
