<article class="px-3">
  <h2 class="content-title">Partners</h2>
  <div class="partner-wrapper container">
    <div class="row g-5">
      <app-image-with-text-bottom
        class="col-12 col-md-4"
        imageSource="/assets/images/partners/partner-iris-logo.png"
        imageName="feature-integrate"
        imageHeight="200px"
        imageWidth="200px"
      >
        <div class="d-flex flex-column gap-3">
          <p class="m-0">
            <a href="http://iris.ehess.fr/">iris.ehess.fr</a> -
            Founded in 2007 by Didier Fassin and Alban Bensa, the Institute of
            Interdisciplinary Research on Social Issues (Institut de Recherche
            Interdisciplinaire sur les enjeux Sociaux) is the fusion of two
            laboratories :
          </p>
          <ul>
            <li>
              The center of research on health, social issues and politics
            </li>
            <li>
              The laboratory of Genesis and transformation of the social worlds
            </li>
          </ul>
          <p class="m-0">
            IRIS regroups the EHESS, CNRS, Inserm and Université Paris 13
            (UMR8156- U997) and counts 150 researchers in anthropology,
            sociology, history, political science,research in public health and
            forensic medecine. The laboratory has two locations : one on the
            campus of EHESS in Paris and the other at Université Paris 13 in
            Bobigny.
          </p>
        </div>
      </app-image-with-text-bottom>

      <app-image-with-text-bottom
        class="col-12 col-md-4"
        imageSource="/assets/images/partners/partner-latim-logo.gif"
        imageName="feature-integrate"
        imageHeight="200px"
        imageWidth="200px"
      >
        <div class="d-flex flex-column gap-3">
          <p class="m-0">
            <a href="https://latim.univ-brest.fr/index.php/">latim.univ-brest.fr</a> -
            The <b>LaTIM</b> is a research team made up of the University
            Hospital of Brest, the Faculty of Medicine and Telecom Bretagne
            (graduate engineering school).
          </p>
          <p class="m-0">Its research is led according to three themes :</p>
          <ul>
            <li>Computer Assisted Surgery for Orthopedics,</li>
            <li>Quantitative Multimodal Imaging for Diagnosis and Therapy</li>
            <li>
              Multimedia Medical Information Indexing, Tracking and Integrity
            </li>
          </ul>
          <p class="m-0">
            These three themes are integrated within a methodological approach
            of the diagnostic and therapeutic imaging based on information and
            knowledge.
          </p>
        </div>
      </app-image-with-text-bottom>

      <app-image-with-text-bottom
        class="col-12 col-md-4"
        imageSource="/assets/images/partners/partner-tekliko-logo.png"
        imageName="feature-integrate"
        imageHeight="200px"
        imageWidth="275px"
      >
        <div class="d-flex flex-column gap-3">
          <p class="m-0">
            <a href="http://www.tekliko.com/">www.tekliko.com</a> -
            Tekliko carries out data science projects related to health, public
            transport and IP licensing.
          </p>
          <p class="m-0">
            The heart of his approach lies in the use of the language of
            programming Julia and open source technologies.
          </p>
        </div>
      </app-image-with-text-bottom>
    </div>
  </div>
</article>
