@import "../../../../styles.scss";

.header-wrapper {
  padding: 2.5rem 5% 1.5rem 5%;
  // background-color: lightyellow;
  // border: 1px solid yellow;
  margin-bottom: 1.75rem;
  // position: relative;

  .header-logo-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .nav-item {
    margin: 0;
    padding: 0.5rem;

    &:hover {
      background-color: aquamarine;
    }
  }

  // .language-wrapper {
  //   position: absolute;
  //   width: fit-content;
  //   top: 5px;
  //   right: 5px;
  // }
}
