<!-- TODO: use https://getbootstrap.com/docs/5.0/components/navbar/#responsive-behaviors -->
<header class="header-wrapper row">
  <div
    class="col-12 col-md-3 header-logo-image-wrapper container bg-transparent d-flex justify-content-center justify-content-md-start"
  >
    <a routerLink="" class="text-decoration-none text-black bg-transparent">
      <img
        class="header-logo-image"
        src="./../../../../assets/images/header/header-logo.png"
        alt="header-logo"
      />
    </a>
  </div>
  <div
    class="col-12 col-md-9 container text-black d-flex gap-3 justify-content-center justify-content-md-end mt-2 mt-md-0 bg-transparent"
  >
    <div class="d-flex gap-3 justify-content-center">
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink="about-us"
      >
        Features and roadmap
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink="about-us"
      >
        Download
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink=""
      >
        Project and use cases
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink=""
      >
        Project and use cases
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink="legal-notice"
      >
        Publications
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink="legal-notice"
      >
        Partners
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink=""
      >
        Press
      </a>
      <a
        class="nav-item text-black text-decoration-none d-flex justify-content-center align-items-center text-center"
        routerLink=""
      >
        Contact
      </a>
      <a
        *ngFor="let language of languages"
        class="nav-item text-black text-decoration-none d-flex align-items-center gap-1"
        [href]="language.url"
      >
        <img
          [src]="language.icon"
          [title]="'language-' + language.label"
          [alt]="'language-' + language.label"
          width="20"
          height="15"
        />
        <span class="d-none d-lg-block">
          {{ language.label }}
        </span>
      </a>
    </div>
  </div>
  <!-- Put this on top rigt instead in side -->
  <!-- <div
    class="language-wrapper d-flex gap-2 gap-md-3 align-items-center bg-transparent"
  >
    <div *ngFor="let language of languages" class="bg-transparent">
      <a
        class="text-black text-decoration-none d-flex align-items-center gap-1 bg-transparent"
        [href]="language.url"
      >
        <img
          [src]="language.icon"
          [title]="'language-' + language.label"
          [alt]="'language-' + language.label"
          width="20"
          height="15"
        />
        <span class="d-none d-lg-block bg-transparent">
          {{ language.label }}
        </span>
      </a>
    </div>
  </div> -->
</header>
