<header class="header-wrapper row">
  <div
    class="col-12 col-md-12 col-lg-8 header-logo-image-wrapper container bg-transparent d-flex justify-content-center justify-content-md-start"
  >
    <div class="row g-4">
      <a
        routerLink=""
        class="col-12 col-sm-3 col-md-3 text-decoration-none text-black bg-transparent"
      >
        <img
          class="header-logo-image"
          src="/assets/images/header/header-logo.png"
          alt="header-logo"
        />
      </a>
      <h1
        class="col-12 col-sm-9 col-md-9 text-center text-sm-start fs-3 fs-sm-1 d-flex align-items-center"
      >
        Easy-to-use open-source data analysis tool for questioning structured
        and unstructured data
      </h1>
    </div>
  </div>
  <div
    class="col-12 col-md-12 col-lg-4 container text-black d-flex gap-3 justify-content-center justify-content-md-end mt-2 mt-xl-0 bg-transparent"
  >
    <div
      class="d-flex flex-column flex-sm-row gap-2 gap-sm-3 align-items-center bg-transparent"
    >
      <a
        class="navigate-item text-black text-decoration-none cursor-pointer bg-transparent"
        routerLink="publications"
      >
        Publications
      </a>
      <a
        class="navigate-item text-black text-decoration-none bg-transparent"
        routerLink="events-and-press"
      >
        Events & press
      </a>
      <a
        class="navigate-item text-black text-decoration-none"
        routerLink="partners"
      >
        Partners
      </a>
    </div>
  </div>
</header>
