<article class="px-3">
  <div class="mb-5 d-flex flex-column gap-5">
    <h2 class="content-title">Events</h2>

    <app-image-with-text-side-by-side
      title="SPE3DLAB at the Workshop eSanté of Cancéropole Grand Sud-Ouest"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">May 21, 2019</i>
        <p class="m-0">
          Thomas LEFEVRE (IRIS, Paris) will demonstrate some applications of
          SPE3DLAB during the workshop eSanté of Cancéropole Grand Sud-Ouest at
          Toulouse (France) on the 27th of May.
        </p>
        <a href="https://www.toulouse-tech-transfer.com/fr"
          >Workshop eSanté « Données, Big Data & Intelligence Artificielle en
          Oncologie »</a
        >
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLAB at the international conference “statistics and health”, Toulouse 12th Jan."
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">January 4, 2018</i>
        <p class="m-0">
          SPE3DLAB, is presented by Thomas Lefèvre (ISIS, EHESS, Paris, France)
          as a federation tool in a multicentric study in forensic medicine.
        </p>
        <a href="https://www.cimi.univ-toulouse.fr/en/"
          >http://www.cimi.univ-toulouse.fr/en/conference-statistics-and-health</a
        >

        <p class="m-0">
          11:45am On the use of optimal transportation to merge databases
        </p>
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLAB at the meeting of the French society of forensic medicine, Tours 13th Nov. 2017"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">November 11, 2017</i>
        <p class="m-0">
          On the occasion of the meeting of Société française de médecine légale
          of forensic medecine in Tours on the 13th of Nov. 2017, SPE3DLAB is
          presented as the tool used for the proof of concept of federation and
          analysis of unstructured data originating from several French forensic
          units.
        </p>
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLAB at the 50th international francophone symposium of forensic medecine, Paris 30th June to 2017"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">June 21, 2017</i>
        <p class="m-0">
          SPE3DLAB is present at the 50th international francophone symposium of
          forensic medecine (Paris 29th June – 1st July) for the presentation of
          the work carried out in the forensic department of the CHU Jean
          Verdier.
        </p>
        <p class="m-0">
          <b
            >Thomas Lefèvre 30th June: Big data, médecine légale et aide à la
            décision : des données à la prédiction contextualisée de la durée
            d’Incapacité Totale de Travail en temps réel, exemple de
            SPE3DLAB.</b
          >
        </p>
        <a href="https://medleg2017.weebly.com/"
          >http://medleg2017.weebly.com/</a
        >
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLab on BFMTV – May 18th 2018"
      imageSource="/assets/images/events/events-governance-analytics-logo.png"
      imageName="events-governance-analytics-logo"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">January 2, 2017</i>
        <p class="m-0">
          We are pleased to announce the next PSL seminar which will take place
          on Tuesday January 17, from 12:15 p.m. to 1:30 p.m. at Paris-Dauphine
          University, room C108.
        </p>
        <p class="m-0">
          <b class="fs-4"
            >« Health science and data science. ‘New’ methods of accessing and
            processing health data. »</b
          >
        </p>
        <p class="m-0">
          Big data, smart data, data science... are all terms that have spread
          to the public and different scientific fields in a few years. The
          fields of health and biomedical research in particular have been
          interested in it since 2008, and the number of publications on “big
          data” in health has increased exponentially since 2012. However, we
          are still essentially in the time of promise. which remain to be
          concretized and evaluated. In France, in particular, there are still
          relatively few concrete initiatives relating to health data science.
          Among these initiatives, most are currently carried out by the
          hospital environment, whether in Ile de France (APHP) or in the
          Greater West (CHRU of Brest, Rennes). Here we present the context of
          big data in health, as well as two projects currently being deployed
          in hospitals. The health data warehouse project supported by the APHP
          and covering data from all APHP establishments will also be presented.
          Other projects in the short and medium term will be outlined. The
          speakers:
        </p>
        <ul>
          <li>
            <b>T. Lefèvre, APHP,</b> Iris INSERM/CNRS/EHESS/UP13, coordinator of
            the big data ministerial think tank in health
          </li>
          <li><b>A. Lichterowicz,</b> Tekliko (PME Paris, Singapore)</li>
          <li>
            <b>R. Beaufret,</b> APHP, leads the APHP WIND (Web Innovations in
            Health Data) team
          </li>
        </ul>

        <p class="m-0">
          Entry is free but registration is required (by January 12 at noon at
          the latest). Sandwiches will be provided.
        </p>
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLab at the E-Health Research International Congress – Paris, Oct. 11th-12th 2016"
      [imageSources]="[
        {
          imageSource: '/assets/images/events/events-ehr2016-logo.png',
          imageName: 'events-ehr2016-logo'
        },
        {
          imageSource: '/assets/images/events/events-inserm-logo.png',
          imageName: 'events-inserm-logo'
        }
      ]"
      carouselId="eheathResearchInternationalCongress"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">October 5, 2016</i>
        <p class="m-0">
          <b class="fs-4"
            >Paris 2016 (11-12 Oct.) – E-Health Research International
            Congress</b
          >
        </p>
        <p class="m-0">
          Alsassa S, Stindel E, Ansart S, Laugier V. Personalized medicine for
          patients with bone and joints infections: an explicative and
          predictive approach based on clinical data integration and agent-based
          modeling.
        </p>
      </div>
    </app-image-with-text-side-by-side>

    <app-image-with-text-side-by-side
      title="SPE3DLab at the IEEE Conference on Healthcare Informatics – Chicago, Oct. 4th-7th 2016"
      [imageSources]="[
        {
          imageSource: '/assets/images/events/events-4cvN2BEf-logo.jpg',
          imageName: 'events-4cvN2BEf-logo'
        },
        {
          imageSource: '/assets/images/events/events-ieee-logo.gif',
          imageName: 'events-ieee-logo'
        }
      ]"
      carouselId="IeeConference"
      imageName="feature-integrate"
      imageHeight="300px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">September 15, 2016</i>
        <p class="m-0">
          <b class="fs-4"
            >Paris 2016 (11-12 Oct.) – E-Health Research International
            Congress</b
          >
        </p>
        <p class="m-0">
          Chicago 2016 (4-7 Oct.) – IEEE International Conference on Healthcare
          Informatics –
          <a href="https://ichi2021.institute4hi.org/ICHI2021static/"
            >www.ieee-ichi.org/accepted_posters.html</a
          >
        </p>
      </div>
    </app-image-with-text-side-by-side>
  </div>

  <div class="mb-5 d-flex flex-column gap-5">
    <h2 class="content-title">In the press</h2>

    <app-image-with-text-side-by-side
      title="SPE3DLab is on Radio France Culture – ‘La Méthode scientifique‘ – Dec. 7th 2016"
      [imageSources]="[
        {
          imageSource: '/assets/images/press/press-france-culture-logo.png',
          imageName: 'press-france-culture-logo'
        },
        {
          imageSource: '/assets/images/partners/partner-saint-denis-logo.png',
          imageName: 'partner-saint-denis-logo'
        }
      ]"
      carouselId="radioFranceCulture"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">December 8, 2016</i>
        <p class="m-0">
          Paris 2016 (7th Dec. 4pm-5pm) – France Culture radio (show ‘La Méthode
          scientifique‘)
        </p>
        <p>
          The scientific tutor of SPE3DLab, T. Lefèvre, explains in the radio
          show ‘La Méthode scientifique’ (‘The Scientific method’) how data
          analysis techniques and Big Data can be applied in the daily practice
          of a hospital unit (show ‘<a
            href="https://www.franceculture.fr/emissions/la-methode-scientifique/big-data-ia-robotique-vers-une-nouvelle-revolution-medicale"
            >La Méthode scientifique</a
          >‘). He illustrates his talk by demonstrating how SPE3DLab is used to
          predict the number of days of ‘Total Incapitiy to Work’ of victims of
          assaults at the forensic unit of Hospital Jean Verdier.
        </p>
      </div>
    </app-image-with-text-side-by-side>
  </div>
</article>
