<article class="px-3">
  <div>
    <h2 class="content-title">Events</h2>
  </div>

  <div class="mb-5 d-flex flex-column gap-5">
    <h2 class="content-title">In the press</h2>

    <app-image-with-text-wrap
      title="SPE3DLab on BFMTV – May 18th 2018"
      imageSource="/assets/images/press/press-bfm-business-logo.png"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">May 18, 2018</i>
        <p class="m-0">
          Alcibiade Lichterowicz, partner at Tekliko explains how SPE3DLab is
          used to integrate data analysis in the processes of healthcare units.
        </p>
        <a
          href="https://www.bfmtv.com/economie/operations/le-tete-a-tete-decideurs/les-plates-formes-d-analyses-de-donnees-au-service-de-la-sante_AN-201805220178.html"
          >https://bfmbusiness.bfmtv.com/le-tete-a-tete-decideurs/les-plates-formes-d-analyses-de-donnees-au-service-de-la-sante-1448362.html</a
        >
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLab is on Radio France Culture – ‘La Méthode scientifique‘ – Dec. 7th 2016"
      [imageSources]="[
        {
          imageSource: '/assets/images/press/press-france-culture-logo.png',
          imageName: 'press-france-culture-logo'
        },
        {
          imageSource: '/assets/images/partners/partner-saint-denis-logo.png',
          imageName: 'partner-saint-denis-logo'
        }
      ]"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">December 8, 2016</i>
        <p class="m-0">
          Paris 2016 (7th Dec. 4pm-5pm) – France Culture radio (show ‘La Méthode
          scientifique‘)
        </p>
        <p>
          The scientific tutor of SPE3DLab, T. Lefèvre, explains in the radio
          show ‘La Méthode scientifique’ (‘The Scientific method’) how data
          analysis techniques and Big Data can be applied in the daily practice
          of a hospital unit (show ‘<a
            href="https://www.franceculture.fr/emissions/la-methode-scientifique/big-data-ia-robotique-vers-une-nouvelle-revolution-medicale"
            >La Méthode scientifique</a
          >‘). He illustrates his talk by demonstrating how SPE3DLab is used to
          predict the number of days of ‘Total Incapitiy to Work’ of victims of
          assaults at the forensic unit of Hospital Jean Verdier.
        </p>
      </div>
    </app-image-with-text-wrap>
  </div>
</article>
