<article class="px-3">
  <div class="mb-5 d-flex flex-column gap-5">
    <h2 class="content-title">Events</h2>

    <app-image-with-text-wrap
      title="SPE3DLAB at the Workshop eSanté of Cancéropole Grand Sud-Ouest"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">May 21, 2019</i>
        <p class="m-0">
          Thomas LEFEVRE (IRIS, Paris) will demonstrate some applications of
          SPE3DLAB during the workshop eSanté of Cancéropole Grand Sud-Ouest at
          Toulouse (France) on the 27th of May.
        </p>
        <a href="https://www.toulouse-tech-transfer.com/fr"
          >Workshop eSanté « Données, Big Data & Intelligence Artificielle en
          Oncologie »</a
        >
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLAB at the international conference “statistics and health”, Toulouse 12th Jan."
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">January 4, 2018</i>
        <p class="m-0">
          SPE3DLAB, is presented by Thomas Lefèvre (ISIS, EHESS, Paris, France)
          as a federation tool in a multicentric study in forensic medicine.
        </p>
        <a href="https://www.cimi.univ-toulouse.fr/en/"
          >http://www.cimi.univ-toulouse.fr/en/conference-statistics-and-health</a
        >

        <p class="m-0">
          11:45am On the use of optimal transportation to merge databases
        </p>
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLAB at the meeting of the French society of forensic medicine, Tours 13th Nov. 2017"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">November 11, 2017</i>
        <p class="m-0">
          On the occasion of the meeting of Société française de médecine légale
          of forensic medecine in Tours on the 13th of Nov. 2017, SPE3DLAB is
          presented as the tool used for the proof of concept of federation and
          analysis of unstructured data originating from several French forensic
          units.
        </p>
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLAB at the 50th international francophone symposium of forensic medecine, Paris 30th June to 2017"
      [swapTextAndImage]="true"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">June 21, 2017</i>
        <p class="m-0">
          SPE3DLAB is present at the 50th international francophone symposium of
          forensic medecine (Paris 29th June – 1st July) for the presentation of
          the work carried out in the forensic department of the CHU Jean
          Verdier.
        </p>
        <p class="m-0">
          <b
            >Thomas Lefèvre 30th June: Big data, médecine légale et aide à la
            décision : des données à la prédiction contextualisée de la durée
            d’Incapacité Totale de Travail en temps réel, exemple de
            SPE3DLAB.</b
          >
        </p>
        <a href="https://medleg2017.weebly.com/"
          >http://medleg2017.weebly.com/</a
        >
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLab on BFMTV – May 18th 2018"
      imageSource="/assets/images/events/events-governance-analytics-logo.png"
      imageName="events-governance-analytics-logo"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">January 2, 2017</i>
        <p class="m-0">
          Next Nous avons le plaisir de vous annoncer le prochain séminaire PSL
          qui aura lieu le mardi 17 janvier, de 12h15 à 13h30 à l’université
          Paris-Dauphine, salle C108.
        </p>
        <p class="m-0">
          <b class="fs-4"
            >« Science et data science en santé. ‘Nouvelles’ méthodes d’accès et
            de traitement des données en santé. »</b
          >
        </p>
        <p class="m-0">
          Big data, smart data, data science… sont autant de termes qui ont
          diffusé auprès du public et des différents domaines scientifiques en
          quelques années. Les domaines de la santé et la recherche biomédicale
          en particulier s’y sont intéressé à partir de 2008, et le nombre de
          publications portant sur le “big data” en santé augmente
          exponentiellement depuis 2012. Néanmoins, nous sommes encore
          essentiellement au temps des promesses qui restent à concrétiser et à
          évaluer. En France, en particulier, il existe encore assez peu
          d’initiatives concrètes relevant d’une data science en santé. Parmi
          ces initiatives, la plupart sont actuellement portées par le milieu
          hospitalier, que ce soit en Ile de France (APHP) ou dans le Grand
          Ouest (CHRU de Brest, Rennes). Nous présentons ici le contexte du big
          data en santé, ainsi que deux projets actuellement en cours de
          déploiement en milieu hospitalier. Le projet d’entrepôt de données de
          santé soutenu par l’APHP et recouvrant les données de tous les
          établissements de l’APHP sera également présenté. D’autres projets en
          perspective à court et moyen termes seront esquissés.Les intervenants
          :
        </p>
        <ul>
          <li>
            <b>T. Lefèvre, APHP,</b> Iris INSERM/CNRS/EHESS/UP13, coordinateur
            du groupe de réflexion ministériel big data en santé
          </li>
          <li><b>A. Lichterowicz,</b> Tekliko (PME Paris, Singapour)</li>
          <li>
            <b>R. Beaufret,</b> APHP, dirige l’équipe WIND (Web Innovations en
            données de santé) de l’APHP
          </li>
        </ul>

        <p class="m-0">
          L’entrée est libre mais l’<a
            href="https://www.governanceanalytics.org/"
            >inscription est obligatoire</a
          >
          (au plus tard le 12 janvier à midi). Des sandwiches seront fournis.
        </p>
      </div>
    </app-image-with-text-wrap>
  </div>

  <div class="mb-5 d-flex flex-column gap-5">
    <h2 class="content-title">In the press</h2>

    <app-image-with-text-wrap
      title="SPE3DLab on BFMTV – May 18th 2018"
      imageSource="/assets/images/press/press-bfm-business-logo.png"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">May 18, 2018</i>
        <p class="m-0">
          Alcibiade Lichterowicz, partner at Tekliko explains how SPE3DLab is
          used to integrate data analysis in the processes of healthcare units.
        </p>
        <a
          href="https://www.bfmtv.com/economie/operations/le-tete-a-tete-decideurs/les-plates-formes-d-analyses-de-donnees-au-service-de-la-sante_AN-201805220178.html"
          >https://bfmbusiness.bfmtv.com/le-tete-a-tete-decideurs/les-plates-formes-d-analyses-de-donnees-au-service-de-la-sante-1448362.html</a
        >
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      title="SPE3DLab is on Radio France Culture – ‘La Méthode scientifique‘ – Dec. 7th 2016"
      [imageSources]="[
        {
          imageSource: '/assets/images/press/press-france-culture-logo.png',
          imageName: 'press-france-culture-logo'
        },
        {
          imageSource: '/assets/images/partners/partner-saint-denis-logo.png',
          imageName: 'partner-saint-denis-logo'
        }
      ]"
      imageName="feature-integrate"
      imageHeight="200px"
      imageWidth="200px"
      imageWrapperClass="border"
    >
      <div class="d-flex flex-column gap-3">
        <i class="event-date">December 8, 2016</i>
        <p class="m-0">
          Paris 2016 (7th Dec. 4pm-5pm) – France Culture radio (show ‘La Méthode
          scientifique‘)
        </p>
        <p>
          The scientific tutor of SPE3DLab, T. Lefèvre, explains in the radio
          show ‘La Méthode scientifique’ (‘The Scientific method’) how data
          analysis techniques and Big Data can be applied in the daily practice
          of a hospital unit (show ‘<a
            href="https://www.franceculture.fr/emissions/la-methode-scientifique/big-data-ia-robotique-vers-une-nouvelle-revolution-medicale"
            >La Méthode scientifique</a
          >‘). He illustrates his talk by demonstrating how SPE3DLab is used to
          predict the number of days of ‘Total Incapitiy to Work’ of victims of
          assaults at the forensic unit of Hospital Jean Verdier.
        </p>
      </div>
    </app-image-with-text-wrap>
  </div>
</article>
