<article class="demo-video-and-contact-form-wrapper">
  <h2 class="content-title">Features overview content</h2>

  <div>
    <app-image-with-text-wrap
      i18n-title="@@test_title"
      title="Easily answer the questions you are asking concerning your data"
      imageSource="/assets/images/feature-overview/feature-answer-your-question.svg"
      imageName="feature-answer-your-question"
      imageWidth="300px"
    >
      <div>
        <p>
          From a simple web interface, SPE3DLab provides a full descriptive
          analysis of your data et allows you to test very easily your
          hypothesis and detangle complex relationships between the variables.
        </p>
        <p>
          SPE3DLab handles automatically the tedious treatments that data
          processing software usually needs. This allows you to focus on the
          design of your models.
        </p>
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      i18n-title="@@feature_connect_data_source"
      title="Connect to any datasource in one click"
      imageSource="/assets/images/feature-overview/feature-multiple-datasources.svg"
      imageName="feature-multiple-datasources"
      imageWidth="300px"
    >
      <div>
        <p>
          SPE3DLab allows you to work on data from various sources and in
          different formats without the hassle of dealing with their management
          or their treatment.
        </p>
        <p>You can jump from one datasource to another in one click.</p>
        <p>
          Datasources can be Excel or CSV files ; SQL databases ; Word or PDF
          documents ; any datasource accessible via an API developed for R
          (Twitter, Hadoop, …).
        </p>
      </div>
    </app-image-with-text-wrap>

    <app-image-with-text-wrap
      i18n-title="@@feature_intergrate"
      title="Easily integrate your models to your existing processes"
      imageSource="/assets/images/feature-overview/feature-integrate.svg"
      imageName="feature-integrate"
      imageWidth="300px"
    >
      <div class="d-flex flex-column">
        <p>
          SPE3DLab allows you to easily integrate the results of your analysis
          in your work flow.
        </p>
        <p>
          Every model can be saved and made automatically available to your team
          in a web interface. It can also be invoked by your existing
          applications.
        </p>
      </div>
    </app-image-with-text-wrap>
  </div>
</article>
