@import "src/styles.scss";

article {
  border-top: 1px solid $grayBorder;
  border-bottom: 1px solid $grayBorder;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 100%;
  height: 100px;
  object-fit: contain;
}
