<div class="contact-form-wrapper">
  <div class="contact-form" [formGroup]="contactForm">
    <h2 class="content-title">Contact us</h2>

    <div class="d-grid gap-2 contact-form-content">
      <div class="d-block">
        <label for="name" class="d-block"> Your Name </label>
        <input
          id="name"
          formControlName="name"
          type="text"
          pInputText
          class="w-100 form-control"
        />
      </div>

      <div class="d-block">
        <label for="email" class="d-block"> Your e-mail </label>
        <input
          id="email"
          formControlName="email"
          type="text"
          pInputText
          class="form-control"
        />
      </div>

      <div class="d-block">
        <label for="subject" class="d-block"> Subject </label>
        <input
          id="subject"
          formControlName="subject"
          type="text"
          pInputText
          class="w-100 form-control"
        />
      </div>

      <div class="d-block">
        <label for="message" class="d-block"> Your message </label>
        <textarea
          id="message"
          formControlName="message"
          rows="5"
          pInputText
          class="form-control"
        ></textarea>
      </div>

      <div class="d-block">
        <span class="form-extra-information"
          >No user data is stored. The data collected in the contact form is not
          retained.</span
        >
      </div>

      <div class="w-100">
        <button
          type="button"
          class="btn button-contact-form w-100"
          (click)="sendEmail()"
          [disabled]="isLoading"
        >
          <div
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
          <div *ngIf="!isLoading">Send the message</div>
        </button>
      </div>
    </div>
  </div>
</div>
