<div class="contact-form-wrapper">
  <div class="contact-form" [formGroup]="contactForm">
    <h2 class="content-title" i18n="@@contact_form_title">Nous contacter</h2>

    <div class="d-grid gap-2 contact-form-content">
      <div class="d-block">
        <label for="name" class="d-block" i18n="@@name_invite_in_contact_form">
          Votre nom
        </label>
        <input
          id="name"
          formControlName="name"
          type="text"
          pInputText
          class="w-100 form-control"
        />
      </div>

      <div class="d-block">
        <label
          for="email"
          i18n="@@email_invite_in_contact_form"
          class="d-block"
        >
          Votre e-mail
        </label>
        <input
          id="email"
          formControlName="email"
          type="text"
          pInputText
          class="form-control"
        />
      </div>

      <div class="d-block">
        <label
          for="subject"
          i18n="@@subject_invite_in_contact_form"
          class="d-block"
          >Sujet</label
        >
        <input
          id="subject"
          formControlName="subject"
          type="text"
          pInputText
          class="w-100 form-control"
        />
      </div>

      <div class="d-block">
        <label for="message" i18n="@@message_in_contact_form" class="d-block">
          Votre message
        </label>
        <textarea
          id="message"
          formControlName="message"
          rows="5"
          pInputText
          class="form-control"
        ></textarea>
      </div>

      <div class="d-block">
        <span
          class="form-extra-information"
          i18n="@@extra_information_in_contact_form"
          >Aucune donnée utilisateur n'est stockée. Les données collectées dans
          le formulaire de contact ne sont pas conservées.</span
        >
      </div>

      <div class="w-100">
        <button
          type="button"
          class="btn button-contact-form w-100"
          (click)="sendEmail()"
          [disabled]="isLoading"
        >
          <div
            *ngIf="isLoading"
            class="spinner-border spinner-border-sm"
            role="status"
          >
            <span class="visually-hidden" i18n="@@loading_text"
              >Chargement...</span
            >
          </div>
          <div *ngIf="!isLoading" i18n="@@send_message">Envoyer le message</div>
        </button>
      </div>
    </div>
  </div>
</div>
