@import "/src/styles.scss";

article {
  padding-bottom: 1rem;
}

.about-us-main-title {
  color: $grayText;
  font-family: Verdana, Geneva, sans-serif;
  margin-top: 10px;
}

.social-media-item {
  img {
    width: 36px;
    height: 36px;
  }
}

.border-line {
  border: none;
  border-top: 3px solid $black;
  color: $black;
  overflow: visible;
  text-align: center;
  height: 5px;
  margin: 30px 0;
}

.border-line:after {
  background: #fff;
  content: url("/assets/images/icons/chat-left-text.svg");
  padding: 0 10px;
  position: relative;
  top: -13px;
}
