.legal-notice-wrapper {
  padding: 15px 10px 30px 10px;
  gap: 2.5rem;

  h4 {
    font-family: sans-serif;
    margin-bottom: 20px;
    font-weight: 700;
  }
}

.legal-notice-title {
  .title {
    margin-bottom: 15px;
  }
}
