<article class="legal-notice-wrapper d-flex flex-column">
  <section class="legal-notice-title">
    <h3 class="text-center title" i18n="@@legal_notice_page_title">
      MENTION LÉGALE
    </h3>
    <div
      class="legal-notice-disclaimer-text"
      i18n="@@legal_notice_disclaimer_text"
    >
      Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour
      la confiance en l’économie numérique, il est précisé aux utilisateurs du
      site
      <a href="https://www.merchmgt.com" class="text-decoration-none"
        >merchmgt.com</a
      >
      l’identité des différents intervenants dans le cadre de sa réalisation et
      de son suivi.
    </div>
  </section>

  <section class="site-edition">
    <h4 class="title" i18n="@@legal_notice_site_edition_title">
      Edition du site
    </h4>
    <div i18n="@@legal_notice_site_edition_text">
      Le site
      <a href="https://www.merchmgt.com" class="text-decoration-none"
        >https://www.merchmgt.com</a
      >
      est édité par la société Tekliko, société à responsabilité limitée au
      capital de 50 000,00 euros, dont le siège social est situé 27 BD SAINT
      MARTIN 75003 PARIS , immatriculée au registre du commerce et des sociétés
      sous le numéro d’identification unique RCS: Paris B 483 159 943.
    </div>
  </section>

  <section class="responsible-for-publication">
    <h4 class="title" i18n="@@legal_notice_responsible_for_publication_title">
      Responsable de publication
    </h4>
    <div>Vincent LAUGIER</div>
  </section>

  <section class="host">
    <h4 class="title" i18n="@@legal_notice_host_title">Hébergeur</h4>
    <div i18n="@@legal_notice_host_text">
      Le site
      <a
        href="https://www.merchmgt.com"
        class="text-decoration-none"
        >
        https://www.merchmgt.com
      </a>
      est hébergé par la société 
      <a
        href="https://www.ovhcloud.com/fr/terms-and-conditions/"
        class="text-decoration-none"
        >
        OVHCloud
      </a>
      <br />
      Nous ne stockons aucune donnée, les informations saisies sur le formulaire de contact ne servent qu'à l'envoi d'un email et ne sont pas conservées.
    </div>
  </section>

  <section class="contact-us">
    <h4 class="title" i18n="@@legal_notice_contact_us_title">Nous contacter</h4>
    <div i18n="@@legal_notice_contact_us_text">
      Utiliser le formulaire de contact
    </div>
  </section>

  <section class="cnil">
    <h4 class="title">CNIL</h4>
    <div i18n="@@legal_notice_cnil_text">
      merchmgt.com n’a pas fait l’objet d’une déclaration à la CNIL parce que
      aucune donnée utilisateur n’est stockée . Les données collectées dans le
      formulaire de contact ne sont pas conservées.
    </div>
  </section>
</article>
