<article class="footer-wrapper text-end text-md-start">
  <div class="p-3 border-top">
    <div class="d-flex flex-wrap gap-3 gap-md-0">
      <div class="d-flex flex-column col-12 col-md-4">
        <a
          routerLink=""
          class="mb-3 pt-2 text-decoration-none d-flex flex-column align-items-end align-items-md-start gap-3 text-dark"
        >
          <img
            src="/assets/images/header/header-logo.png"
            alt="Tekliko"
            class=""
            style="max-width: 6em"
          />
          <span> SPE3DLab, Speed-up your data analysis, Big Data</span>
        </a>
        <a
          class="navigate-item text-black text-decoration-none cursor-pointer bg-transparent"
          routerLink="publications"
        >
          Publications
        </a>
        <a
          class="navigate-item text-black text-decoration-none bg-transparent"
          routerLink="events-and-press"
        >
          Events & press
        </a>
        <a
          class="navigate-item text-black text-decoration-none"
          routerLink="partners"
        >
          Partners
        </a>
        <!-- <a
          href="http://www.speedlab.io/sitemap_index.xml"
          class="d-block cursor-pointer text-decoration-none text-dark"
          >Site map</a
        > -->
        <div class="text-secondary">V{{ version }}</div>
      </div>
    </div>
  </div>
</article>
