<ng-container i18n="@@ctf_disabled">
  Formulaire de contact désactivé
</ng-container>
<ng-container i18n="@@ctf_missing_data"> Données manquantes </ng-container>
<ng-container i18n="@@ctf_invalid_email"> Email invalide </ng-container>
<ng-container i18n="@@ctf_success">Succès</ng-container>
<ng-container i18n="@@ctf_success_description">Message envoyé</ng-container>
<ng-container i18n="@@ctf_error">Erreur</ng-container>
<ng-container i18n="@@home_page_meta_title"
  >MERCHMGT - Solution «tout-en-un» pour la gestion du
  merchandising</ng-container
>
<ng-container i18n="@@home_page_meta_description">
  Since 2019, Tekliko has made Merchmgt an evolving platform for all the
  licensing market. They entrust the worldwide distribution to Kazachok
  Licensing Network.
</ng-container>
<ng-container i18n="@@legal_notice_page_meta_title"
  >MERCHMGT - Mentions légales</ng-container
>
<ng-container i18n="@@legal_notice_page_meta_description">
  MENTIONS LÉGALES Conformément aux dispositions de la loi n° 2004-575 du 21
  juin 2004 pour la confiance en l’économie numérique, il est précisé aux
  utilisateurs du site merchmgt.com l’identité des différents intervenants dans
  le cadre de sa réalisation et de son suivi. Edition du site Le site
  merchmgt.com est édité par la société Tekliko, société… Lire la suite
  »Mentions légales
</ng-container>
<ng-container i18n="@@about_us_meta_title"
  >MERCHMGT - A propos de Merchmgt
</ng-container>
<ng-container i18n="@@about_us_meta_description">
  Merchmgt a été créé il y a 10 ans pour les ayants droit de Barbapapa
  L’objectif était de les aider à optimiser la gestion de son portefeuille de
  licences. Depuis 20019, Tekliko a fait de Merchmgt une plateforme évolutive
  pour tout le marché des licences. Ils confient la distribution mondiale à
  Kazachok Licensing Network. À… Lire la suite »A propos de Merchmgt
</ng-container>
<ng-container i18n="@@pricing_meta_title">MERCHMGT - Prix</ng-container>
<ng-container i18n="@@pricing_meta_description">
  Moins de 25 licenciés € 450 Mensuel Mise en service : 2 000 € Nous contactez
  De 26 à 50 licenciés € 650 Mensuel Mise en service : 2 000 € Nous contactez De
  51 à 100 licenciés € 800 Mensuel Mise en service : 2 000 € Nous contactez Plus
  de 100 licenciés €… Lire la suite »Prix
</ng-container>
